#!/usr/bin/make -f

%:
	dh $@ --with systemd

export BUILD_DESTDIR?=../

override_dh_installchangelogs:
	dh_installchangelogs -- CHANGES.txt

override_dh_builddeb:
	dh_builddeb --destdir=${BUILD_DESTDIR}

get-orig-source:
	# Run uscan to a temporary directory to be sure there's only one orig file there
	set -e; \
		SOURCE=`dpkg-parsechangelog | sed -n 's/^Source: //p'`; \
		newupstreamdir=`mktemp -d`; \
		echo "Dowloading the latest $${SOURCE} version to $${newupstreamdir}"; \
		uscan --verbose --force-download --destdir=$${newupstreamdir}; \
		UVERSION=`cd $${newupstreamdir}; ls $${SOURCE}*.orig.tar.* | perl -pe "s/^$${SOURCE}_(\d[\-+\.:\~\da-zA-Z]*).orig.tar.*$$/\1/g"`; \
		tar --strip-components=1 -xavf $${newupstreamdir}/$${SOURCE}_$${UVERSION}.orig.tar.* ; \
		rm -Rf $${newupstreamdir}; \
		dch --newversion $${UVERSION}-0generator0 --force-bad-version -m "New $${SOURCE} $${UVERSION} release" ; \
		dch --release ""
