#!/usr/bin/make -f

%:
	dh $@ --with systemd

override_dh_installchangelogs:
	dh_installchangelogs -- CHANGES.txt

override_dh_strip_nondeterminism:
	dh_strip_nondeterminism -X.jar

UPSTREAM_VERSION?=latest
PACKAGING_REVISION?=$(shell date +%Y%m%d)00

get-orig-source:
	# Run uscan to a temporary directory to be sure there's only one orig file there
	set -e; \
		USCAN_OPTS='' ;\
		[ "${UPSTREAM_VERSION}" = "latest" ] || USCAN_OPTS="--download-version ${UPSTREAM_VERSION}"; \
		SOURCE=`dpkg-parsechangelog | sed -n 's/^Source: //p'`; \
		newupstreamdir=`mktemp -d`; \
		echo "Dowloading the latest $${SOURCE} version to $${newupstreamdir}"; \
		uscan --verbose --force-download $${USCAN_OPTS} --destdir=$${newupstreamdir}; \
		UVERSION=`cd $${newupstreamdir}; ls $${SOURCE}*.orig.tar.gz | perl -pe "s/^$${SOURCE}_(\d[\-+\.:\~\da-zA-Z]*).orig.tar.*$$/\1/g"`; \
		rm -Rf .pc ; \
		tar --strip-components=1 -xavf $${newupstreamdir}/$${SOURCE}_$${UVERSION}.orig.tar.gz ; \
		rm -Rf $${newupstreamdir}; \
		dch --newversion $${UVERSION}-0~${PACKAGING_REVISION} --force-bad-version -m "New $${SOURCE} $${UVERSION} release" ; \
		dch --release ""
